@import url("https://fonts.cdnfonts.com/css/nunito-sans");
.display-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.flex-direction-column {
  flex-direction: column;
}
.back-ground-white {
  background-color: var(--bg_default);
}
body {
  font-family: "Nunito Sans";
  font-size: 20px;
  margin: 0;
  height: 100vh;
}
.topHeader {
  justify-content: space-between;
  padding: 10px 100px;
}
.topHeader .title {
  color: var(--brand-primary);
  font-weight: 700;
}
.midHeader {
  justify-content: space-between;
}
.leftTriangle,
.rightTriangle {
  width: 0;
  height: 0;
}
.leftTriangle {
  border-left: 1000px solid #555;
  border-bottom: 90px solid transparent;
}
.rightTriangle {
  border-right: 1000px solid red;
  border-top: 90px solid transparent;
}
.bottomHeader {
  text-align: center;
}
.bottomHeader .firstWelcome {
  color: var(--brand-secondary);
  font-size: 25px;
  font-weight: 700;
}
.bottomHeader .secondWelcome {
  font-size: 20px;
  margin-left: 250px;
  margin-bottom: 40px;
}
.buttons {
  gap: 5px;
}
.iconButton {
  font-size: 20px;
  padding: 8px;
  gap: 5px;
  border-radius: 5px;
  border: 1px solid var(--lines-color);
}
.main {
  background-color: var(--bg_body);
  padding: 40px 80px;
  flex-grow: 1;
}
.searchBar {
  border-radius: 10px;
  padding-left: 10px;
  justify-content: space-between;
}
.seacrhIcon {
  gap: 20px;
}
#search {
  font-size: 20px;
  border: none;
}
#search:focus {
  outline-style: none;
}
select {
  font-size: 20px;
  border: none;
  width: 250px;
}
.secondFilter {
  margin-left: 0px;
}
.boxFilterFirst,
.boxFilterSecond {
  border-left: 2px solid var(--lines-color);
  gap: 5px;
  padding: 10px;
}
#labelSort {
  margin-left: -173px;
}
#labelFilter {
  margin-left: -165px;
}
main > p {
  font-weight: 700;
  font-size: 30px;
}
.items {
  flex-wrap: wrap;
  padding: 0;
  gap: 30px;
}
.item {
  gap: 20px;
  border-radius: 15px;
  margin: 0;
}
img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 444px;
  height: 300px;
}
.itemType {
  font-weight: 700;
  display: block;
}
.checked {
  color: orange;
}
figcaption,
.starRating,
.author {
  margin-left: 25px;
}
.author {
  color: var(--lines-color);
}
.footer {
  padding: 20px 100px;
  text-align: center;
  background-color: var(--bg_body);
  font-size: 25px;
}
footer span {
  color: var(--heart-color);
}
